/* $Id$ */


/* Menu region
-------------------------------------------------------------- */

#superfish ul .nolink.hover {
	background-color:		transparent;
	outline:		0;
	color:		#666666;
}

#superfish ul ul .nolink.hover  {
	background:		#e3e2de;
	outline:		0;
	color:			#666666;
}

#superfish ul ul ul .nolink.hover  {
	background:		#d8d7d2;
	outline:		0;
	color:		#666666;
}

#superfish ul ul ul ul .nolink.hover  {
	background:		#ccccc3;
	outline:		0;
	color:		#666666;
}

/* Bottom region
-------------------------------------------------------------- */

#bottom-wrapper.in4 .column {
width: 24%;
}

