/* $Id$ */

/* Body
-------------------------------------------------------------- */
body {
background:#f0f0f2;
padding:0;
margin:0;
color:#666666;
line-height:1.5em;
font-family:Arial,Verdana,sans-serif;
font-size:13px;
}

#page-wrapper {
padding:0;
margin:0;
margin:0 auto;
float:left;
width:100%;
}

.clearfix {
clear:both;
}

/* Text elements
-------------------------------------------------------------- */
a {
text-decoration: none;
}

a:link {
color: #0b5ed8;/*#e87e17*/
text-decoration: none;
}

a:visited {
color: #0b5ed8;/*#e87e17*/
}

a:hover {
text-decoration: underline;
}

code, pre {
background: #eee;
color:#000;
}

/* heading
-------------------------------------------------------------- */

h1 {
font-size:30px;
}

h2 {
font-size:22px;
}

h3 {
font-size:18px;
}

h4 {
font-size:16px;
}

h5 {
font-size: 14px;
}

h6 {
font-size: 12px;
}

h1,h2,h3,h4,h5,h6 {
line-height:1.3em;
padding:0;
margin:0;
}

h1,h2,h3 {
font-weight:normal;
}

/* Header
-------------------------------------------------------------- */

#header-wrapper {
width:100%;
background:#fff;
float:left;
border-bottom: 1px solid #bfbfc6;
height:75px;
}

#header {
width:806px;
margin:0 auto;
}

#branding-wrapper {
float:left;
width:50%;
height:75px;
}

.branding {
margin:14px 0px;
float:left;
display:inline;
}

.branding h1, .branding h2 {
font-size:20px;
margin: 0 10px 0 0;
font-weight:bold;
text-transform:uppercase;
}

.branding a:hover {
text-decoration:none;
}

.name-slogan-wrapper {
float:left;
}

.logo {
float:left;
margin-right:10px;
}

.logo img {
height:43px;
}

.site-name {
font-style:normal;
}

.site-slogan {
font-weight:bold;
font-size:14px;
font-style:italic;
}

#authorize { 
float: right;
bottom:0;
font-size:12px;
}

#authorize  ul {
margin: 40px 0 0;
padding-left:0;
}

#authorize ul li { 
display: inline; 
list-style: none;  
background-image: none;
}

#authorize ul li.first {
padding-right:10px; 
}

.feed-wrapper {
float:right;
margin: 42px 0 0;
margin-left: 10px;
}

/* Container
-------------------------------------------------------------- */

#container-wrapper {
width:100%;
background:#f0f0f2 url(images/body-bg.gif) repeat-x top;
clear:both;
}

#container-outer {
width:818px;
margin:0 auto;
background:#f0f0f2 url(images/shadow-body.gif) repeat-y;
}

#container-inner {
width:804px;
margin:0 auto;
clear:both;
background:#fff url(images/separator-bottom.gif) no-repeat bottom center;
}

#shadow-bottom {
width:818px;
margin:0 auto;
height:9px;
background:#f0f0f2 url(images/shadow-footer.gif) no-repeat;
}

/* Menu regular
-------------------------------------------------------------- */

#menu-wrapper {
width:100%;
float:left;
position:relative;
background:transparent url(images/shadow-dash.gif) no-repeat top left;
z-index:4;
}

.menu-outer {
width:804px;
margin:0 auto;
height:43px;
}

.menu-inner {
width:804px;
height:43px;
margin:0 auto;
background:#f4f4f4 url(images/menu-bg.gif) repeat-x top;
border-bottom:1px solid #bfbfc6;
float:left;
}

.menu-left {
width:22px;
float:left;
background:transparent url(images/menu-left.gif) no-repeat;
height:43px;
}

.menu-right {
width:22px;
float:right;
background:transparent url(images/menu-right.gif) no-repeat;
height:43px;
}

#superfish {
float:left;
position:relative;
width:93%;
}

#superfish h2.block-title {
height: 0;
overflow: hidden;
position: absolute;
}

.breadcrumb {
padding: 7px 25px;
clear:both;
font-size:12px;
}

/* Teaser image + Breadcrumb shadow
-------------------------------------------------------------- */

#teaser-wrapper {
width:818px;
float:left;
height:375px;
}

.teaser-image {
margin: 0 auto;
width:804px;
height:375px;
clear:both;
background:transparent url(images/front-bg.jpg) no-repeat top right;
}

.mission {
position:absolute;
color:#fff;
font-size:18px;
background:#0b5ed8;
margin:100px 65px;
width:600px;
padding:20px;
line-height:1.5em;
font-style:italic;
font-family:Georgia;
opacity: 0.85;
filter:alpha(opacity=85);
}

.breadcrumb-shadow {
margin: 0 auto;
width:804px;
clear:both;
height:10px;
background:transparent url(images/shadow-bc.gif) no-repeat top right;
}

/* Slideshow
-------------------------------------------------------------- */

#slideshow-wrapper {
width:818px;
float:left;
}

.slideshow {
width:804px;
margin:0 auto;
overflow:hidden;
text-align:center;
background:#fff;
}

.slideshow h2.block-title {
height: 0;
overflow: hidden;
position: absolute;
}

/* Page margin + Sidebar
-------------------------------------------------------------- */

#main-content .content-block {
margin-top:30px;
}

#content-wrapper {
padding: 30px 65px 45px;
}

.front #content-wrapper {
padding: 30px 65px 15px;
}

.front .node {
margin-bottom:30px;
}

.front #main-content .content-block {
margin-bottom:30px;
margin-top:0;
}

.page-blog #content-wrapper {
padding: 30px 65px 15px;
}

.page-blog .node {
margin-bottom:30px;
}

.page-blog #main-content .content-block {
margin-bottom:30px;
margin-top:0;
}

.page-taxonomy #content-wrapper {
padding: 30px 65px 15px;
}

.page-taxonomy .node {
margin-bottom:30px;
}

.page-taxonomy #main-content .content-block {
margin-bottom:30px;
margin-top:0;
}

.one-sidebar #content-wrapper {
padding-left:45px;
padding-right:45px;
}

.two-sidebars #content-wrapper  {
padding-left:30px;
padding-right:30px;
}

.no-sidebars #content-wrapper {
padding-left:65px;
padding-right:65px;
}

.one-sidebar #main-content {
float:left;
width:71%;
margin-right:3%;
}

.sidebar {
float:right;
width:25%;
}

.sidebar h2.block-title {
font-size:1.3em;
border-bottom:1px solid #bbb;
padding-bottom:3px;
}

.sidebar .content {
margin:13px 0;
}

.views-row-odd, .views-row-even {
margin-bottom:30px;
}

.views-row-last {
margin-bottom:0;
}

/* Node + block links
-------------------------------------------------------------- */

ul.links li {
display: inline;
list-style-type: none;
padding: 0 0.5em;
}

ul.links li.first {
padding-left:0;
}

.taxonomy {
padding:0;
margin:0;
}

.taxonomy-term-description {
border-bottom:1px solid #bbb;
padding-bottom: 1em;
}

.item-list  ul.pager{
margin-top:1em;
margin-bottom:0.75em;
}

.block ul {
margin: 0;
padding: 0 0 0.25em 0;
}

/* User profile + picture
-------------------------------------------------------------- */

.profile h3 {
margin-bottom:0.3em;
}

.node .picture, .comment .picture {
float:left;
padding-right:10px;
}

.node .picture img, .comment .picture img {
width:60px;
}

.user-signature {
border-top: 1px solid #ccc;
}

/* Message
-------------------------------------------------------------- */

.messages {
background:#f4f4f4;
padding:0.2em 0.5em;
border: 1px solid #ccc;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
margin-bottom:10px;
}

div.error {
padding:0.2em 0.5em;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
margin-bottom:10px;
padding:0.2em 0.5em;
}

/* Aggregator
-------------------------------------------------------------- */

.page-admin-content-aggregator h3 {
margin-top:1em;
}

#aggregator .feed-source {
margin-bottom:1em;
padding:0.5em;
background:#f4f4f4;
border: 1px solid #ccc;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
}

.feed-item-categories {
border-bottom: 1px solid #ccc;
padding-bottom:0.2em;
}

/* Comment
-------------------------------------------------------------- */

.comment {
margin-top:1em;
padding:0.5em;
background:#f7f7f7;
border: 1px solid #ccc;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
}

.comment-preview {
background-color: #FFFFEF;
color:#000;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
border: 1px solid #ccc;
}

.comment-unpublished {
color:#000;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
border: 1px solid #ccc;
background-color: #FFF4F4;
}

.comment .new {
float:right;
color:red;
}

.box {
margin-top:15px;
}

.sticky {
border: 1px solid #ccc;
background: #f9f9f9;
margin-top:5px;
padding: 10px 15px 5px;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
}

.preview  .node{
padding: 10px 15px 5px;
margin-bottom:10px;
background-color: #FFFFEF;
color:#000;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
border: 1px solid #ccc;
}

.node-unpublished {
padding: 10px 15px 5px;
color:#000;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
border: 1px solid #ccc;
margin-top:5px;
background-color: #FFF4F4;
}

/* Book
-------------------------------------------------------------- */

.book-navigation .page-links {
border-bottom: 1px solid #ccc;
border-top: 1px solid #ccc;
padding: 0.5em;
text-align: center;
margin-bottom: 5px;
}

.book-navigation .menu {
border-top: 1px solid #ccc;
padding: 1em 0 0 3em;
}

/* Forum
-------------------------------------------------------------- */

#forum  td.container {
background: #e9e9e9;
}

#forum .name {
font-weight:bold;
}

#forum .description {
font-style:italic;
}

.forum-topic-navigation {
border-bottom: 1px solid #ccc;
border-top: 1px solid #ccc;
padding: 0.5em;
text-align: center;
}

/* Tabs
-------------------------------------------------------------- */

ul.primary {
border-bottom:1px solid #bfbfc6;
}

ul.primary li a {
background-color: #f0f0f2;
border:1px solid #bfbfc6;
height: auto;
margin-right: 0.5em;
padding: 0 1em;
text-decoration: none;
border-bottom: 1px solid #f0f0f2;
-webkit-border-radius:3px 3px 0px 0px;
-moz-border-radius:3px 3px 0px 0px;
-khtml-border-radius:3px 3px 0px 0px;
border-radius:3px 3px 0px 0px;
}

ul.primary li a:hover {
background-color: #fff;
border:1px solid #bfbfc6;
border-bottom: 1px solid #fff;
}

li a.active { 
color:#666666;
}

/* Table
-------------------------------------------------------------- */

table {
width:100%;
}

.sticky-table {
margin-top:1em;
margin-bottom:1em;
}

tr.odd {
background: #f4f4f4;
}

tr.even {
background: #f4f4f4;
}

thead th {
padding-left:0.8em;
padding-right:0.8em;
}

tbody {
border-top:none;
}

tbody th {
padding-left:0.8em;
padding-right:0.8em;
}

tr.odd td, tr.even td{
padding: 0.8em;
}

td.active {
background-color: #f4f4f4;
}

fieldset, textarea, select, .form-text {
border: 1px solid #bbb;
-webkit-border-radius:3px;
-moz-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
}

#node-form {
margin-bottom:10px;
}

hr {
border: 1px solid #ccc;
height: 1px;
}

/* Bottom region
-------------------------------------------------------------- */

#bottom-wrapper {
margin:0 auto;
text-align: left;
width:98%;
position: relative;
}

#bottom-wrapper h2.block-title {
font-size: 1.3em;
margin-bottom:-10px;
margin-top:20px;
}

#bottom-wrapper .column {
float: left;
}

#bottom-wrapper.in1 .column {
width: 100%;
}

#bottom-wrapper.in2 .column {
width: 50%;
}

#bottom-wrapper.in3 .column {
width: 33.3%;
}

#bottom-wrapper.in4 .column {
width: 25%;
}

#bottom-wrapper .block {
padding-left:25px;
padding-right:25px;
}

#bottom-wrapper .content {
margin: 20px 0 20px;
}

/* Footer
-------------------------------------------------------------- */

#footer {
text-align:center;
padding:20px 20px 30px;
clear:both;
color:#666;
font-size:12px;
}

#footer h2.block-title {
font-size: 1.3em;
margin-bottom:-10px;
}

#footer .content {
margin: 15px 0;
}

#subnav {
margin:0 auto;
position:relative;
}

.footer-message {
margin:0 auto;
position:relative;
}

.footer-message p {
padding:0;
margin:0;
}