/* $Id$ */
/*** ESSENTIAL STYLES ***/
#superfish ul, #superfish ul * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
#superfish .nolink {
	cursor:pointer;
}
#superfish ul, #menu ul{
	line-height:	1.2em;
}
#superfish ul ul {
	position:		absolute;
	top:			-999em;
	width:			176px; /* left offset of submenus need to match (see below) */
}
#superfish ul ul li {
	width:			100%;
}
#superfish ul li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
#superfish ul li, #menu ul li {
	float:			left;
	position:		relative;
}
#superfish ul a, #menu ul a, #superfish ul .nolink {
	display:		block;
	position:		relative;
}
#superfish ul li:hover ul,
#superfish ul li.sfHover ul {
	left:			0;
	top:			43px; /* match top ul list item height */
	z-index:		99;
}
#superfish ul li:hover li ul,
#superfish ul li.sfHover li ul {
	top:			-999em;
}
#superfish ul li li:hover ul,
#superfish ul li li.sfHover ul {
	left:			176px; /* match ul width */
	top:			0;
}
#superfish ul li li:hover li ul,
#superfish ul li li.sfHover li ul {
	top:			-999em;
}
#superfish ul li li li:hover ul,
#superfish ul li li li.sfHover ul {
	left:			176px; /* match ul width */
	top:			0;
}

/*** Metropolis Superfish ***/

#menu ul.links li {
	padding:0;
}

#superfish ul, #menu ul {
	float:			left;
	margin-left:	-18px;
}
#superfish ul ul{
	padding:	0;
	border:			1px solid #ccc;
	margin-left:-1px;
}
#superfish ul ul ul{
	padding:	0;
	border:1px solid #ccc;
	margin-top:-1px;
	margin-left:0px;
}
#superfish ul a, #menu ul a, #superfish ul .nolink {
	padding: 1.1em 1.75em;
	text-decoration:none;
	text-align:center;
}
#superfish ul ul a, #menu ul ul a, #superfish ul ul .nolink  {
	padding: 0.75em 1.75em;
	text-decoration:none;
	text-align:left;
}
#superfish ul a, #superfish ul a:visited, #menu ul a, #menu ul a:visited, #superfish ul .nolink  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#666666;
}

#superfish ul li.active-trail a.active, #menu ul li.active-trail a.active {
	color:		#666666;
}

#superfish ul a.active, #menu ul a.active {
	text-decoration:underline;
}

#superfish ul li, #menu ul li {
	background:		transparent;
}

#superfish ul li.first a, #menu ul li.first a, #superfish ul li.first .nolink {
	background:		transparent;
}

#superfish ul li, #menu ul li  {
	background: url(images/menu-sp.gif) no-repeat left center;
	height:	43px;
}

#superfish ul li.first, #menu ul li.first  {
	background:		none;
}

#superfish ul ul li.first{
	background:		#fff;
}

#superfish ul ul li, #menu ul ul li  {
	height:	auto;
}

#superfish ul li.last, #menu ul li.last {
}

#superfish ul ul li {
	background:		#fff;
	border-left:	none;
	padding:		0;
}

#superfish ul ul li.last {
	border-right:	none;
	padding:		0;
}
#superfish ul ul li.first a, #superfish ul ul li a, #superfish ul ul li.last a, #superfish ul ul li.first .nolink, #superfish ul ul li.last .nolink {
	background-image:		none;
}

#superfish ul li.expanded {
}

#superfish ul ul li.expanded {
}

#superfish ul ul ul li.expanded {
}

#superfish ul ul ul li {
	background:		#fff;
	border-left:	none;
	padding:		0;
}

#superfish ul ul ul ul li {
	background:		#fff;
	border-left:	none;
	padding:		0;
}

#superfish ul li:hover, #superfish ul li.sfHover,
#superfish ul a:focus, #superfish ul a:hover, #superfish ul a:active, #menu ul li:hover, #menu ul a:focus, #menu ul a:hover, #menu ul a:active, #superfish ul .nolink:hover {
	background-color:		transparent;
	outline:		0;
	color:		#666666;
}

#superfish ul ul li:hover, #superfish ul ul li.sfHover,
#superfish ul ul a:focus, #superfish ul ul a:hover, #superfish ul ul a:active, #superfish ul ul .nolink:hover  {
	background:		#fff;
	outline:		0;
	color:			#666666;
}

#superfish ul ul ul li:hover, #superfish ul ul ul li.sfHover,
#superfish ul ul ul a:focus, #superfish ul ul ul a:hover, #superfish ul ul ul a:active, #superfish ul ul ul .nolink:hover  {
	background:		#fff;
	outline:		0;
	color:		#666666;
}

#superfish ul ul ul ul li:hover, #superfish ul ul ul ul li.sfHover,
#superfish ul ul ul ul a:focus, #superfish ul ul ul ul a:hover, #superfish ul ul ul ul a:active, #superfish ul ul ul ul .nolink:hover  {
	background:		#fff;
	outline:		0;
	color:		#666666;
}

/*** custom arrows / top shadow **/

#superfish ul ul li.expanded {
	background: #fff url('images/arrow-subm.png') no-repeat 96.5% 50%;
}

#superfish ul ul ul li.expanded {
	background: #fff url('images/arrow-subm.png') no-repeat 96.5% 50%;
}

#superfish ul ul li a:hover,
#superfish ul ul li a:visited:hover, #superfish ul ul li .nolink:hover {
	background: #EEEEEE!important;
	color: #666!important;
	opacity: 0.95;
	filter:alpha(opacity=95);
}

#superfish ul ul li .nolink:hover {
	background: #EEEEEE url('images/arrow-subm.png') no-repeat 96.5% 50%!important;
}

#superfish  ul ul .sfHover {
	background: #EEEEEE url('images/arrow-subm.png') no-repeat 96.5% 50%!important;
}

#superfish ul ul li.expanded a:hover{
	background: url('images/arrow-subm.png') no-repeat 96.5% 50%!important;
}

#superfish ul ul li.expanded li.leaf a:hover, #superfish ul ul li.expanded li.collapsed a:hover  {
	background: #EEEEEE!important;
}

#superfish ul ul li.expanded li.leaf, #superfish ul ul li.expanded li.collapsed {
	background: #fff!important;
}

#superfish ul ul li.leaf, #superfish ul ul li.collapsed {
	background-image: none!important;
}

#superfish ul li.active-trail ul li a.active {
	color: #666;
}

/*** underline hover **/

#menu ul li a:hover, #menu ul li .nolink:hover, #superfish ul li a:hover, #superfish ul li .nolink:hover , #superfish ul li .nolink.hover  {
	text-decoration:underline;
}
#superfish ul ul li a:hover, #superfish ul ul li .nolink:hover, #superfish ul ul li .nolink.hover  {
	text-decoration:none;
}

/*** arrows **/
#superfish ul a.sf-with-ul {
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('images/arrow.png') no-repeat -10px -150px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -150px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -150px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
#superfish ul ul .sf-sub-indicator { background-position:  -10px 0; }
#superfish ul ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
#superfish ul ul a:focus > .sf-sub-indicator,
#superfish ul ul a:hover > .sf-sub-indicator,
#superfish ul ul a:active > .sf-sub-indicator,
#superfish ul ul li:hover > a > .sf-sub-indicator,
#superfish ul ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** fix z-index IE6/IE7 ***/
#superfish ul li:hover, 
#superfish ul li.sfHover,
#superfish ul a:focus, 
#superfish ul a:hover, 
#superfish ul a:active {
z-index:10;
}